:root {

    --font-family-primary:'Roboto', sans-serif;
    --font-family-second:'Raleway', sans-serif;

    --text-color-primary: #212121;
    --color-accent: #2196F3;
    --color-secondary: #757575;
    --color-third: #000000;
    --color-other: #FFFFFF;
    --color-alfa: rgba(255, 255, 255, 0.60);
    
    --background-color-primary:#FFFFFF ;
    --background-color-second:#2F303A;
    --color-background-third:#F5F4FA;
    --color-background-accent:#2196F3;
}

    
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
/* боді */
body {
    font-family: var(--font-family-primary);
    font-size: 14px;
    line-height: 1.17;
}

/* хедер */
.header-page {
    background-color:var(--background-color-primary)

}
.header-page .logo {
font-family: var(--font-family-second);
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
}
.header-page .logo-first-half {
    color: var(--color-accent);
}
.header-page .logo-secondary-half {
    color: var(--color-third);
}

/* навігація */
.nav-list {
    color: var(  --text-color-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-list .link {
    color: var( --text-color-primary); 
  
} 
.link:hover,
.link:focus {
    color: var(--color-accent);
}
/* дані */
.data-list {
    color: var(  --text-color-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.data-list .data-items{
   
    color: var(--color-secondary); 
       
}

.data-items:hover,
.data-items:focus {
    color: var(--color-accent);
}

.main-page{ 
    background-color:var(--background-color-primary);
}
/* герой */
.hero {
    background-color: var(--background-color-second);
}

.hero-title{
    color: var(--color-other);
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
}
.hero-button{
    font-family: var(--font-family-primary);
    color: var(--color-other);
    background-color: var(--color-background-accent);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer
    
}
.hero-button:hover {
    opacity: 0.8;
}

/* заголовок */
.hidden-title {
    opacity: 0;
}

.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.subtitle-text {
color: var(--color-secondary);
font-size: 14px;
font-weight: 400;
line-height: 1.7;

}
/* ЗАГОЛОВКИ МЕЙН */
.main-title{
color: var(--text-color-primary);
text-align: center;
font-size: 36px;
}
/* СЕКЦІЯ КОМАНДА */
.team-section {
    background-color:var(--color-background-third);
}

.team-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;   
}
.team-text{
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}


/* портфоліо */
.filter-button{
    color: var(--text-color-primary);
    background-color: var(--background-color-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
}

.filter-button :focus,
.filter-button:hover {
    color: var(--color-other);
    background-color: var(--color-background-accent);
}

.title-portfolio{
color: var(--text-color-primary);
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 1.08px;
}

.text-portfolio{
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.48px;
}

/* футер */


.footer-page{
    background-color: var(--background-color-second);
}
.footer-page .logo{
    font-family: var(--font-family-second);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;  
}
.footer-page .logo-first-half {
    color: var( --color-accent);
}
.footer-page .logo-secondary-half {
    color: var(--color-other);
}

.footer-adress{
    color: var(--color-other);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;  
}
.footer-page .data-items {
    color: var(--color-alfa);
}
.footer-page .data-items:hover,
.footer-page .data-items:focus {
    color: var(--color-accent);
}

